<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="Stylesheet" href="../Style/Products.css" id="css">
    <title>Products</title>
</head>

<body>
    <header>
        <div class="menu">
            <img src="../Images/logo.png" alt="logo">
        </div>
        <div class="cover"></div>
        <div class="title">
            <h2 id="menuTrans"> </h2>
        </div>

    </header>
    <div class="products">
        <div id="menus" class="products">

        </div>




        <!-- Modal Sousmenu -->
        <div class="modal fade" id="sousmenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-content-sousmenu">
                    <input type="hidden" id="idMenu" value="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sousMenuTrans"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="products" id="sousmenus">
                       

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="productmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content-product">
                <input type="hidden" id="idSousMenu" value="">
                <div class="modal-header">
                    <h5 class="modal-title" id="produitTrans"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="products" id="productsAppend">
                   

                </div>
                <a name="" id="supplementButtonTrans" class="btn btn-primary" href="#supp" data-toggle="modal" role="button"></a>
            </div>
        </div>
    </div>
  
      
        <!-- SUPP Modal Dessert -->
        <div class="modal fade " id="supp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog supp modal-dialog-centered" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="suppTitleTrans"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="products" id="supplement">
                       
                      

                    </div>
                    <div class="modal-footer justify-content-center">

                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#ways" id="nextButtonTrans"></button>
                    </div>
                </div>
            </div>
        </div>



        <!-- payment Modal -->
        <div class="modal fade " id="ways" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog payment supp modal-dialog-centered" role="document">
                <div class="modal-content " style="    HEIGHT: 500px;                ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="methodShipTrans"> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="choices">
                        <div class="choice2">
                            <img src="../Images/takeaway.png" alt="back">
                            <a href="#payment" class="waystopayment" data-toggle="modal" data-method="emporte" id="emporteTrans"></a>
                        </div>
                        <div class="choice1">
                            <img src="../Images/eatIn.png" alt="back">
                            <a href="#payment" class="waystopayment" data-toggle="modal" data-method="atable" id="atableTrans"></a>
                        </div>

                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade " id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog payment supp modal-dialog-centered" role="document">
            <div class="modal-content modal-content-payment" style="    height: 746px !important;">
                <input type="hidden" id="method" value="">
                <div class="modal-header">
                    <h5 class="modal-title" id="methodPayTrans"> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <form method="post" id="payment-form"  onsubmit="event.preventDefault(); payment(); document.getElementById('ccpurchase').disabled = true">
                                    <img src="../Images/credit-card.svg" style="width: 200px;" alt="back">
                    <h3 style="color: #fff;" id="paymentTitleTrans"></h3>
                                    <div class="form-group">
                                      <label for="" style="color: #fff;" id="nomTrans"></label>
                                      <input type="text" name="" id="nom" class="form-control" placeholder="" aria-describedby="helpId">
                                    </div>
                                    <div class="form-group">
                                      <label for="" style="color: #fff;" id="emailTrans"></label>
                                      <input type="text" name="" id="email" class="form-control" placeholder="" aria-describedby="helpId">
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="color: #fff;" id="ccTrans"></label>
                                            <div id="card-element" class="form-control"></div>
                                        
                                    </div>
                                    <input type="submit" id="purchaseTrans" class="btn btn-success" value="">

                                </form>
                            </div>
                            <div class="col">
                                <img src="../Images/cash.png" style="width: 200px;" alt="back">
                                <h3 style="color: #fff;" id="cashTrans"></h3>
                                <div class="form-group">
                                  <label style="color: #fff;" for="" id="nbTableTrans"></label>
                                  <select class="form-control" name="" id="tableDispo">
                                    
                                  </select>
                                </div>
                                <input type="submit" id="btnCash" class="btn btn-success" value="">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <span style="color: #fff;" id="couponTrans">Coupon :</span>
                    <input placeholder="Coupon" class="coupon" id="coupon" type="text" >
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer>
        <div class="menu">
            <img src="../Images/logo.png" alt="logo">
        </div>
    </footer>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="../js/translator.js"></script>
    <script src="../js/axiosActions.js"></script>


</body>

</html>